*{
    box-sizing: border-box;

}
  @media (max-width:1024px) {
            
            .section1{
                .navbar-body{
                    height: 60px    ;
                }
            }
 }
body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}
a{
    text-decoration: none;
    color: inherit;
}
.section1{
    .center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    }
    .navbar{
        background-color: white;
        width: 100%;
        height: 100px;
        padding: 20px;
 
        
    }
    .navbar-head{
        text-align: right;
        font-size: 15px;
        padding: 10px 20px;
        color: inherit;
        text-decoration: none;
        
    }
    .navbar-body{
        width: 100%;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: space-between
    }
    .adam-store{
        width: 218px;
        height: 36px;
        letter-spacing: 5px;
        font-weight: 1000;
        font-size: 14px;
    }
    .menu{
        width: calc(100%-300px-218px);
        display: flex;
        justify-content: center;
    }
    .bt{
        width: 110px;
        height: 30px;
        font-size: 13px;
        text-align: center;
        display: flex;
        align-items: center;
        
    }
    .contact{
        width: 300px;
        height: 30px;
        display: flex;
        justify-content: center;
        gap: 18px;
        font-size: 14px;
    }
    .search{
        width: 150px;
        height: 30px;
        border: 1px solid grey;
        display: flex;
        align-items: center;
        padding: 10px;
    }
    
}
