* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}

.section1 {
  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .navbar {
    background-color: white;
    width: 100%;
    height: 120px;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
  }
  .navbar-head {
    text-align: right;
    font-size: 15px;
    padding: 10px 20px;
    color: inherit;
    text-decoration: none;
  }
  .navbar-body {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .adam-store {
    width: 218px;

    letter-spacing: 5px;
    font-weight: 1000;
    font-size: 14px;
  }
  .menu {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
  .bt{
    width: 20%;
    font-size: 11px;
    text-align: center;
  }
  .pad-10{
    padding: 0px 10px;
  }
  .intro-1 {
    background-color: white;
    width: 200px;
    height: 70px;
    padding: 10px 0px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    display: none;
    line-height: 25px;
    text-align: left;
    font-size: 12px;
    font-weight: 600;
    position: relative;
    right: 40px;
    z-index: 2;
  }

  .intro:hover .intro-1 {
    display: block;
  }
  .intro-1 :hover {
    background-color: gray;
  }
  .product-1 {
    background-color: white;
    width: 200px;
    height: 390px;
    padding: 10px 0px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    display: none;
    line-height: 25px;
    text-align: left;
    font-size: 12px;
    font-weight: 600;
    position: relative;
    right: 40px;
    z-index: 2;
  }
  .product:hover .product-1 {
    display: block;
  }
  .product-1 :hover {
    background-color: gray;
  }
  .adam-store360-1 {
    background-color: white;
    width: 200px;
    height: 145px;
    padding: 10px 0px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    display: none;
    line-height: 25px;
    text-align: left;
    font-size: 12px;
    font-weight: 600;
    position: relative;
    right: 40px;
    z-index: 2;
  }
  .adam-store360:hover .adam-store360-1 {
    display: block;
  }
  .adam-store360-1 :hover {
    background-color: grey;
  }
  .tip1 {
    background-color: white;
    width: 200px;
    height: 40px;
    padding: 10px 0px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    display: none;
    line-height: 25px;
    text-align: left;
    font-size: 12px;
    font-weight: 600;
    position: relative;
    right: 40px;
    z-index: 2;
  }
  .tip:hover .tip1 {
    display: block;
  }
  .tip1 :hover {
    background-color: grey;
  }
  .contact {
    width: 340px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 14px;
  }
  .search {
    width: 150px;
    height: 30px;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }

  .user{
    display: flex;
    align-items: center;
    gap: 5px;
  }
  #used{
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
  }
  .bars-list {
    width: 20%;
    font-size: 20px;
  
    display: none;
  }
}
@media (max-width: 1024px) {
        .section1 {
          .navbar-head {
            text-align: center;
          }
          .menu {
            display: none;
          }
          .contact1 {
            display: none;
          }
          .bars-list {
            display: flex;
            justify-content: end;
            align-items: center;
          }
        }
        .container-footer {
          .footer {
            display: none;
          }
          .footer-reponsive {
            display: block;
          }
        }
      }
  .Hambug{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .list-menu{
    background-color: white;
    width: 60%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
    font-size: 15px;
    padding: 5px;
    display: none;
    justify-content: right;
    position: relative;
    
    left: 40%;
    bottom: 3px;
  }
  .list-header{
    display: none;
    padding: 0px 10px;
  }
  .list-header :hover{
    text-decoration: underline;
  }
  .bt-head{
    width: 20px;
    background-color: black;
    color: white;
  }
  .bar{
    display: flex;
    justify-content: space-between;
  }
.container_banner {
  margin-top: 120px;

  swiper-container {
    width: 100%;
    height: 100%;
  }

  swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.container-footer{
    .footer{
    width: 100%;
    height: 200px;
    padding: 20px;
    display: flex;
    
    }
    .size-list {
      color: grey;
      font-size: 14px;
    }
    .phone-number{
      width: 15%;
      font-size: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .intro-footer{
      width: 20%;
      
    }
    .policy{
      width: 25%;
      
    }
    .news-footer{
      width: 20%;
    }
    .follow{
      width: 20%;
      padding: 10px;
      font-weight: 600;
      display: flex;
      flex-direction: column;
      background-color: aliceblue;
      font-size: 13px;
      text-align: center;
      gap: 15px ;
      
    }
    .logo{
      display: flex;
      justify-content: space-around;
    }
    .img-logo{
      width: 30px;
      height: 30px;
    }
    .footer-reponsive{
      
      font-size: 18px;
      display: none;
    }
    .list-bonus{
      background-color: lightgray;
      padding: 0px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      
    }
    .list-1{
      background-color: lightgray;
      padding: 0px  30px;
      font-size: 15px;
    }
    .plus{
      width: 35px;
      background-color: black;
      color: white;
      font-size: 25px;
      text-align: center;
    }
    .list-menu-intro{
      display: none;
    }
    .list-policy{
      display: none;
    }
    .list-new{
      display: none;
    }
}

/* css for page product */
